<div class="well" id="well1">
    <div class="container">
      <div class="card" style="width: 50rem; length: 25rem;" id="showCard">
          <div class="card-body">
          <h1>Sign in</h1>
          <%= form_tag signin_path do %>
            <br>
            <%= label_tag :display_name %>
            <br>
            <%= text_field_tag :display_name %>
            <br>
            <%= label_tag :email %>
            <br>
            <%= text_field_tag :email %>
            <br>
            <%= label_tag :password %>
            <br>
            <%= password_field_tag :password %>
            <br>
            <br>
            <%= submit_tag "Sign in" %>
          <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
