<div class="card" style="width: 30rem;">
  <div class="card-body">
  <h1> Sign up</h1>
    <%= form_for @account do |f| %>
      <br>
      <%= f.label "Display Name" %>
      <br>
      <%= f.text_field :display_name %>
      <br>
      <%= f.label "Email" %>
      <br>
      <%= f.text_field :email %>
      <br>
      <%= f.label "Password" %>
      <br>
      <%= f.password_field :password %>
      <br>
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation %>
      <br>
      <br>
      <%= f.submit "Sign Up" %>
    <% end %>
  <!-- <h1>Sign in</h1>
  <%= form_tag signin_path do %>
    <%= label_tag :display_name %>
    <%= text_field_tag :display_name %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Sign in" %>
  <% end %> -->
  </div>
</div>
